.new-game, .game-running{
    background-color: antiquewhite;
}

#home{
    background-image: url("../images/candy-crush-background-2.png");
    background-size: 100% 100%;
}

.play-game{
    max-width: 100vh;
    display: flex;
}

#home .game-running{
    position: fixed;
    top: 0;
    right: 0;
}

#home .play-game{
    display: none;
}